
/* ==|== primary styles =====================================================
   Author: Ben Yarbrough
   ========================================================================== */

// Remove text-shadow in selection highlight: h5bp.com/i
// These selection declarations have to be separate
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

h1 {
  margin-bottom: 8px;
}

#play {
  margin-bottom: 8px;
}

label {
   display: inline-block;
   vertical-align: middle;
}

select {
   display: inline-block;
}

h2 {
  margin: 12px 0 0 0;
}

.card {
  display: inline-block;
  padding: 14px 10px;
  margin: 4px;
  .border-radius(8px);
  .box-shadow(~"1px 1px 1px 2px #ccc");
}

.red {
  border: 1px solid #d00;
}

.black {
  border: 1px solid #333;
}